@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
  --cor-de-fundo: #eee8df;
  --amarelinho: #f8dfb1;
  --lilaszinho: #b48a63;
  --branco: #667179;
  --branco2: rgb(238, 231, 231);
  --azul: #8fa2ad;
  --azulbebe: #60869c;
  --botao-ativo: #b49885;
  --botao-inativo: rgba(255, 227, 174, 0.74);
  --texto-fundo: rgba(255, 255, 255, 0.3);
}

body {
  background-image: url(s.png);
  color: var(--branco);
  font-family: "Schoolbell", sans-serif;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal {
  text-align: left;
  width: 100%;
  font-size: 52px;
  font-family: "Mountains of Christmas", sans-serif;
}

.titulo-principal span {
  font-size: 30px;
  color: var(--amarelinho);
}

.botao {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--botao-inativo);
  color: var(--lilaszinho);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--lilaszinho);
  border-left: 2px solid var(--lilaszinho);
  border-right: 2px solid var(--lilaszinho);
  border-top: none;
}

.botao:first-child {
  border-radius: 40px 40px 0 0;
}

.botoes {
  display: block;
}


.aba-conteudo.ativo {
  display: block;
}

.aba-conteudo {
  display: none;
}

.aba-conteudo-titulo-principal {
  font-size: 30px;
  text-align: center;
}

.aba-conteudo-titulo-secundario {
  font-family:"Ubuntu", sans-serif;
  text-align: center;
  font-size: 20px;
  color: var(--lilaszinho);
}

.contador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contador-digito {
  padding: 0 16px;
  text-align: center;
  min-width: 100px;
}

.contador-digito-numero{
  font-size: 80px;
  margin: 0;

}

.contador-digito-texto{
  color: var(--lilaszinho);
  font-size: 20 px;
  margin: 0;
}


.botao.ativo {
  border-bottom: 4px solid var(--azulbebe);
  background-color: var(--azul);
  color: var(--branco2);
}

.abas-textos {
  background-color: var(--cor-de-fundo);
  padding: 40px;
  border-radius: 0 0 40px 40px;
}

@media screen and (min-width: 768px) {
  .botoes {
    display: flex;

      .botao:first-child {
      border-radius: 40px 0 0 0; }

       .botao:last-child {
    border-radius: 0 40px 0 0; }

  }
}